/* Reset de Estilos */
  html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  ul {
    padding: 0;
    margin: 0;
}


/*Cor roxa nos links*/
  a:link{
    text-decoration: none;
  }

  a{
    color: #fff;
  }

  /* Configurações gerais */
  body{
    background-color: black;
  }

  #cadastra {
    display: none;
  }

  /* Nav Bar */
  nav{
    background-color: #888;
    height: 3rem;
  }
  
  nav ul{
    list-style-type: none;
  }
  
  nav ul li{
    display: inline;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 13px 10px; 
    display: inline-block;
    transition: 1.5s;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}

nav ul li img{
  color: #fff;
  text-decoration: none;
  transition: 1.5s;
  font-size: 16px;
}

nav ul li a:hover{
  color: #000;
  background-color: #ccc;
  border-radius: 15px;
}

nav ul li img:hover{
  color: #000;
  background-color: #ccc;
  border-radius: 15px;
}

/* Nav Perfil */
#imag{
  float: right;
  margin-right: 15px;
  margin-top: 3px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

#perfil{
  display: grid;
  float: right;
  background-color: #888;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease-out, visibility 0.9s ease-out;
}
#perfil.ativar{
  opacity: 1;
  visibility: visible;
}
#perfil.desativar{
  opacity: 0;
}

#perfil li a{
  width: 120px;
}

  /* Pagina login html */

  .main-contentlogin{
    padding: 5% 25%;
    text-align: center;
    line-height: 30px;
    color: #fff;
  }

  .main-contentlogin #login{  
    margin-top: 150px;
    border-radius: 20px;
  }

  .main-contentlogin #login form{
    width: 100%;
  }
  .main-contentlogin #login label{
    margin-left: -185px;
    font-size: 18px;
  }

  .main-contentlogin input{
    font-size: 16px;
    border: 2px solid #ffffff;  
    border-radius: 20px;
    background-color: #fff;
    height: 30px;
    width: 240px;
  }

  .main-contentlogin #btn{
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: #000;
    margin-left: 160px;
    margin-top: 50px;
  }

  .main-contentlogin #toggleCadastra{
    position: absolute;
    margin-left: -115px;
    margin-top: -95px;
  }



  /* depois */
  table {
    border-collapse: collapse;
    text-align: center;
    /*color: #eee;
    text-decoration: #bbb0be;
    */
    width: 80%;
  }

  /* Login e Cadastro Cliente */
  #cadastrocliente{
    display: none;
  }

  #logincliente{
    display: block;
  }

/* Altera Usuário */
  #confirmarForm{
    display: none;
  }


  /* Perfil */
  .perfil{
    display: flex;
    justify-content: center;
  }
  .infoperfil img{
    width: 100px;
    height: 100px;
    border: 1px solid white; 
    border-radius: 50%;
    position: absolute;
    margin-left: 160px;
   }