/* Reset de Estilos */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
  }

/*Cor roxa nos links*/
  a:link{
    text-decoration: none;
  }

  a{
    color: #fff;
  }

  body{
    background-color: black;
  }

  #cadastra {
    display: none;
  }
  /* Pagina login html */

  .main-contentlogin{
    padding: 5% 25%;
    text-align: center;
    line-height: 30px;
    color: #fff;
  }

  .main-contentlogin #login{  
    margin-top: 150px;
    border-radius: 20px;
  }

  .main-contentlogin #login form{
    width: 100%;
  }
  .main-contentlogin #login label{
    margin-left: -185px;
    font-size: 18px;
  }

  .main-contentlogin input{
    font-size: 16px;
    border: 2px solid #ffffff;  
    border-radius: 20px;
    background-color: #fff;
    height: 30px;
    width: 240px;
  }

  .main-contentlogin #btn{
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: #000;
    margin-left: 160px;
    margin-top: 50px;
  }

  .main-contentlogin #toggleCadastra{
    position: absolute;
    margin-left: -115px;
    margin-top: -95px;
  }

  #teste{
    display: none;
  }

  /* depois */
  table {
    border-collapse: collapse;
    text-align: center;
    /*color: #eee;
    text-decoration: #bbb0be;
    */
    width: 80%;
  }

  /* Login e Cadastro Cliente */
  #cadastrocliente{
    display: none;
  }

  #logincliente{
    display: block;
  }

/* Altera Usuário */
  #confirmarForm{
    display: none;
  }

