/* Reset de Estilos */
  html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  ul {
    padding: 0;
    margin: 0;
}


/*Cor roxa nos links*/
  a:link{
    text-decoration: none;
  }

  a{
    color: #fff;
  }

  /* Configurações gerais */
  body{
    background-color: black;
  }

  #cadastra {
    display: none;
  }

  /* Nav Bar */
  nav{
    background-color: #888;
    height: 3rem;
    z-index: 1;
  }
  
  nav ul{
    list-style-type: none;
  }
  
  nav ul li{
    display: inline;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 13px 10px; 
    display: inline-block;
    transition: 1.5s;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}

nav ul li img{
  color: #fff;
  text-decoration: none;
  transition: 1.5s;
  font-size: 16px;
}

nav ul li a:hover{
  color: #000;
  background-color: #ccc;
  border-radius: 15px;
}

nav ul li img:hover{
  color: #000;
  background-color: #ccc;
  border-radius: 15px;
}

/* Nav Perfil */
#imag{
  float: right;
  margin-right: 15px;
  margin-top: 3px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#perfil{
  margin-left: 89.7%;
  display: grid;
  float: right;
  background-color: #888;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease-out, visibility 0.9s ease-out;
}
#perfil.ativar{
  opacity: 1;
  visibility: visible;
}
#perfil.desativar{
  opacity: 0;
}

#perfil li a{
  width: 120px;
}

  /* Pagina login html */

  .main-contentlogin{
    padding: 5% 25%;
    text-align: center;
    line-height: 30px;
    color: #fff;
  }

  .main-contentlogin #login{  
    margin-top: 150px;
    border-radius: 20px;
  }

  .main-contentlogin #login form{
    width: 100%;
  }
  .main-contentlogin #login label{
    margin-left: -185px;
    font-size: 18px;
  }

  .main-contentlogin input{
    font-size: 16px;
    border: 2px solid #ffffff;  
    border-radius: 20px;
    background-color: #fff;
    height: 30px;
    width: 240px;
  }

  .main-contentlogin #btn{
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: #000;
    margin-left: 160px;
    margin-top: 50px;
  }

  .main-contentlogin #toggleCadastra{
    position: absolute;
    margin-left: -115px;
    margin-top: -95px;
  }



  /* depois */
  table {
    border-collapse: collapse;
    text-align: center;
    /*color: #eee;
    text-decoration: #bbb0be;
    */
    width: 80%;
  }

  /* Login e Cadastro Cliente */
  #cadastrocliente{
    display: none;
  }

  #logincliente{
    display: block;
  }

/* Altera Usuário */
  #confirmarForm{
    display: none;
  }


  /* Perfil */
  .perfil{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .perfilsup{
    border-radius: 16px 16px 0px 0px;
  }

  .infoperfil{
    border: 2px solid white;  
    margin-top: 60px;
    border-radius: 20px;
    width: 600px;
  }

  .infoperfil #imgbanner{
    border-radius: 16px 16px 0px 0px;
    padding: 0;
    width: 600px;
    height: 200px;
  }

  .infoperfil #imgperfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-top: -10%;
    margin-left: 70%;
   }

   .perfilinf{
    padding: 0px 20px;
   }
   
   .perfilinf h2{
    margin-bottom: 0;
   }

   .infoperfil label{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    line-height: 5px;
   }
   .infoperfil p{
    font-size: 18px;
    display: inline-block;
    margin-bottom: 25px;
    line-break: normal;
   }

   /* Config Perfil */

   #configperfil label{
    margin-top: 20px;
    line-height: 5px;
    margin-left: 2px;
   }

   .infoperfil input{
    border: 1px solid #888;
    border-radius: 20px;
    padding: 10px 50px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 20px;
    text-decoration: none;
   }

   .infoperfil textarea{
    border: 1px solid #888;
    border-radius: 20px;
    padding: 10px 50px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 20px;
    text-decoration: none;
    height: 120px;
    resize: none;
   }

   #configperfil #btn{
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 1.5s;
   }

   #configperfil #btn:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #888;
   }


   /* Nav Usuario */

   #navUsuario{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s ease-out, visibility 0.9s ease-out;
   }
   #navUsuario.ativada{
    opacity: 1;
    visibility: visible;
   }